
 
        <!--     <div class="col-xl-20">
                <div class="card m-b-30">
                    <div class="card-body">
            <div class="container">
              <div class="row">
                <div class="col-6">
            <mat-form-field>
                <mat-label>Filter By Author</mat-label>
                <mat-select [(ngModel)]="Sauthor" (selectionChange)="selectAuthor($event.value)">
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let item of projets" [value]="item.nomprojet">{{item.author}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div> 
            <div class="col-6">
              <mat-form-field>
                  <mat-label>Filter By due Date</mat-label>
                  <mat-select  [(ngModel)]="Send" (selectionChange)="selectEndDate($event.value)">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let item of projets" [value]="item.datefin">{{item.author}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div> 
              </div>
            </div>
            <br/>
        <div class="row" >
          <div class="col-md-12">
          <div class="col-md-3" >
            <div class="card m-b-30" *ngFor="let proj of projets">
              
              
               <div class="card-body">
                    <h4 class="card-title font-20 mt-0">
                      <a href="">{{this.name}} </a>
                    </h4>
                    <p class="card-text">With supporting text below as a natural lead-in to
                        additional content.</p>
                </div>
                <div class="card-footer text-muted">
                    2 days ago
                </div> 
                <div class="card-body">
                    <h5 class="card-title">Opened Projects</h5>
                    <span style="color: #d83431"></span>
                      <br>
                    <hr>
                    <p class="card-text"></p>
                  </div>
                  <div class="card-footer">
                    <button mat-raised-button color="warn">Details</button>
                  </div>
            </div>
        </div>
       
         
          <div class="col-lg-3">
            <div class="card m-b-30">
              
              <div class="card-body">
                  <h4 class="card-title font-20 mt-0">
                    <a href="">Remaning Time </a>
                  </h4>
                  <p class="card-text">With supporting text below as a natural lead-in to
                      additional content.</p>
              </div>
              <div class="card-footer text-muted">
                  2 days ago
              </div>
          </div>
              </div> 

          </div>
         
      </div>
    </div>
</div>
</div>
 -->
 

 <div class="page-content-wrapper ">
    <div class="container-fluid">
        <div class="navbar breadcrumb-bar">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"><a href="/home/open">Overview</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page"style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Projects Backlog </li>
              </ol>
            </nav>
        
            <div class="dropdown">
              <button class="btn btn-round" role="button" data-toggle="dropdown" aria-expanded="false">
                <i class="material-icons">...</i>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item text-danger" routerLink="/home/details">More Details</a>
                  <a class="dropdown-item text-danger" routerLink="/home/meeting">Create Meeting</a>
                  <a href="javascript:window.print()"class="dropdown-item text-danger">
                      Print Current Page</a>
              </div>
            </div>
          </div>
          <br/>

          <div class="col-xl-20">
              <div class="card m-b-30" >
               <div class="card-body">
<section id="team" class="pb-5">
<div class="form-group searchInput">
    <span>
        <i class="fas fa-search"></i>
    </span>
    <input class="form-control form-control-sm" type="text" [(ngModel)]="term" placeholder="Global Filter...">
</div>
<div class="container">
    <div class="row">
        <!-- Team member -->
        <div class="col-xs-12 col-sm-2 col-md-3" style="margin-left: 3px; border-spacing: 12px !important;" *ngFor="let proj of chefs | filter:term | paginate: { itemsPerPage: 3, currentPage: p }">
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                <div class="mainflip">
                    <div class="frontside">
                        <div class="card" style="width: 260px height: 20px ;" >
                            <div class="card-body text-center">
                                <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png" alt="card image"></p>
                                <h4 class="card-title">{{proj.firstname}} {{proj.lastname}}</h4>
                                <p class="card-text">
                                </p>
                                <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                        
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center mt-4">
                                <h4 class="card-title">Details :</h4>
                                <br/>
                                <p class="card-text">
                                    Email : {{proj.mail}}
                                    <br/>
                                    Role : {{proj.role}}
                                </p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-3" style="margin-left: 3px; border-spacing: 12px !important;" *ngFor="let proj of managers | filter:term | paginate: { itemsPerPage: 3, currentPage: p }">
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                <div class="mainflip">
                    <div class="frontside">
                        <div class="card" style="width: 260px height: 20px ;" >
                            <div class="card-body text-center">
                                <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png" alt="card image"></p>
                                <h4 class="card-title">{{proj.firstname}} {{proj.lastname}}</h4>
                                <p class="card-text">
                                </p>
                                <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                        
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center mt-4">
                                <h4 class="card-title">Details :</h4>
                                <br/>
                                <p class="card-text">
                                    Email : {{proj.mail}}
                                    <br/>
                                    Role : {{proj.role}}
                                </p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- ./Team member -->
    </div>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>

</section>
</div>
</div>
</div>
</div>
</div>
