<div class="main-container">
    <div class="navbar breadcrumb-bar">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/home/open">Overview</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Project Managers : </li>
        </ol>
      </nav>
  
      <div class="dropdown">
        <button class="btn btn-round" role="button" data-toggle="dropdown" aria-expanded="false">
          <i class="material-icons">...</i>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item text-danger" href="/home/details">More Details</a>
            <a class="dropdown-item text-danger" routerLink="/home/meeting">Create a Meeting</a>
            <a href="javascript:window.print()"class="dropdown-item text-danger">
                Print Current Page</a>
        </div>
      </div>
    </div>
    <br/>

<div id="myModaladd" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mt-0" id="myModalLabel">Add Project Manager</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">First Name : </label>
          <div class="col-sm-10">
            <input class="form-control" type="text" name="firstname" [(ngModel)]="chef.firstname">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Last Name : </label>
          <div class="col-sm-10">
            <input class="form-control" type="text" name="lastname" [(ngModel)]="chef.lastname">
          </div>
        </div>


        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Email : </label>
          <div class="col-sm-10">
            <input class="form-control" type="email" name="mail" [(ngModel)]="chef.mail">
          </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Status : </label>
            <div class="col-sm-10">
              <input class="form-control" type="text" name="password" [(ngModel)]="chef.status">
            </div>
          </div>
          <div class="form-group row">
              <label class="col-sm-2 col-form-label">Activity : </label>
              <div class="col-sm-10">
                <input class="form-control" type="text" name="password" [(ngModel)]="chef.activity">
              </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Position : </label>
                <div class="col-sm-10">
                  <input class="form-control" type="text" name="password" [(ngModel)]="chef.role">
                </div>
              </div>
          <div class="form-group row">
              <label class="col-sm-2 col-form-label">Password : </label>
              <div class="col-sm-10">
                <input class="form-control" type="password" name="password" [(ngModel)]="chef.password">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">picture: </label>
              <div class="col-sm-10">
                <input type="file" (change)="onFileChanged($event)">
              </div>
            </div>

      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger waves-effect waves-light" data-dismiss="modal"
                  (click)="addchef(chef)">Save
          </button>
        </div>
      </div>
      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div id="myModalupdate" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mt-0" id="myModalLabel">Update Project Manager</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">First Name : </label>
          <div class="col-sm-10">
            <input class="form-control" type="text" name="firstname" [(ngModel)]="chef.firstname">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Last Name : </label>
          <div class="col-sm-10">
            <input class="form-control" type="text" name="lastname" [(ngModel)]="chef.lastname">
          </div>
        </div>


        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Mail : </label>
          <div class="col-sm-10">
            <input class="form-control" type="email" name="mail" [(ngModel)]="chef.mail">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Status : </label>
          <div class="col-sm-10">
            <input class="form-control" type="text" name="status" [(ngModel)]="chef.status">
          </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Position : </label>
            <div class="col-sm-10">
              <input class="form-control" type="text" name="position" [(ngModel)]="chef.position">
            </div>
          </div>
          <div class="form-group row">
              <label class="col-sm-2 col-form-label">Activity : </label>
              <div class="col-sm-10">
                <input class="form-control" type="text" name="activity" [(ngModel)]="chef.activity">
              </div>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger waves-effect waves-light" data-dismiss="modal"
                (click)="updatechef(chef)">Save
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="search-div">
    <button mat-raised-button color= "warn" data-toggle="modal" data-target="#myModaladd">
        <mat-icon>add</mat-icon>Add Project Manager     
      </button>
    <mat-form-field class="search-form-field" floatLabel="never">
      <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
      <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey"  (click)="onSearchClear()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
<div class="mat-elevation-z8">
    <mat-table [dataSource]="chefs"  matSort>
      <ng-container matColumnDef="firstname">
        <mat-header-cell *matHeaderCellDef  mat-sort-header> First Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.firstname}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="lastname">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.lastname}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="mail">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Email </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.mail}}</mat-cell>
        </ng-container>
      
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.status}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="position">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Position</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.role}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="activity">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Activity</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.activity}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="password">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Password </mat-header-cell>
              <mat-cell *matCellDef="let element" input="password"> {{element.password}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="pic">
              <mat-header-cell *matHeaderCellDef mat-sort-header>pic </mat-header-cell>
              <mat-cell *matCellDef="let element" input="picture"> {{element.pic}}</mat-cell>
            </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
            View Profile
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
            <button mat-icon-button (click)="edit(row)" data-toggle="modal" data-target="#myModalupdate"><i class="material-icons">
                account_box
                </i>
            </button>
           
          <button mat-icon-button (click)="edit(row)" data-toggle="modal" data-target="#myModalupdate"><i
            class="fas fa-user-edit"></i>
          </button>
          <button mat-icon-button color="warn" (click)="remove(row._id)"><mat-icon>delete_outline</mat-icon></button>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="loading">
        <mat-footer-cell *matFooterCellDef colspan="6">
          Loading data...
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="noData">
        <mat-footer-cell *matFooterCellDef colspan="6">
          No data.
        </mat-footer-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
      <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
  </div>

<!-- <div class="col-xl-20">
    <div class="card m-b-30">
        <div class="card-body">
            <h4 class="mt-0 m-b-15 header-title">All Project Managers : </h4>
            <button type="button" class="btn btn-danger waves-effect waves-light" data-toggle="modal" data-target="#myModaladd">
                Add Project Manager 
              </button>
              <br/>
              <br/>
              <div class="table-responsive">
                         
<table class="table table-hover mb-5">
  <thead>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>View Profile</th>
    <th>Status</th>
    <th>Position</th>
    <th>Delete</th>
    <th>Update</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let a of chefs ">
    <td >{{a.firstname}}</td>
    <td >{{a.lastname}}</td>
    <td >{{a.mail}}</td>
    <td >{{a.mail}}</td>
    <td >{{a.mail}}</td>
    <td >{{a.role}}</td>


    <td >
      <button type="button" (click)="remove(a._id)"><i class="fas fa-trash-alt"></i></button>
    </td>
    <td >
      <button type="button" (click)="edit(a)" data-toggle="modal" data-target="#myModalupdate"><i
        class="fas fa-user-edit"></i></button>
    </td>


  </tr>

  </tbody>

</table>
</div>
</div>
</div>
</div> -->