
<div class="container-fluid text-center">
    <!--Card-->
    <div class="card card-cascade reverse my-4 pb-5">

        <!--Card image-->
        <div class="view view-cascade overlay wow fadeIn" style="visibility: visible; animation-name: fadeIn;">     
            <img src="./assets/images/vermeg.jpg" class="img-fluid" alt="Responsive image">
        
            <a href="#!">
                <div class="mask rgba-white-slight waves-effect waves-dark"></div>
            </a>
        </div>
        <!--/Card image-->
         
        <!--Card content-->
        <div class="card-body card-body-cascade text-center wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">
                    <a class="nav-link nav-item dropdown" id="navbarDropdown" role="button"  >
                            <div class="container mt-3">
                                <!-- Button to Open the Modal -->
                                <button type="button" data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-default btn-outline-danger btn-lg waves-effect waves-light" style="color:black" >
                <a  [routerLink]="['/home/monitoring']" routerLinkActive="router-link-active"  class="waves-effect">
                    LET'S GET STARTED
                </a>
            </button>
                        </div>
                        </a>
        </div>
        <!--/.Card content-->
    </div>
    <!--/.Card-->
    
    <hr class="my-1">
    <div class="jumbotron">
            <div class="row w-100">
                    <div class="col-md-3">
                            <div class="card border-dark mx-sm-1 p-3">
                                <div class="card border-dark shadow text-danger p-3 my-card" ><span class="fas fa-chart-bar" aria-hidden="true"></span></div>
                                <div class="text-danger text-center mt-3">
                                    <h4>PLANNING</h4>
                                </div>
                                <div class="text-danger text-center mt-2">
                                        <a href="planning" class="btn btn-default btn-outline-danger btn-lg bg-light">VIEW</a>
                                </div>
                            </div>
                        </div>
                    <div class="col-md-3">
                        <div class="card border-dark mx-sm-1 p-3">
                            <div class="card border-dark shadow text-danger p-3 my-card" ><span class="fas fa-clone" aria-hidden="true"></span></div>
                            <div class="text-danger text-center mt-3"><h4>PROJECTS</h4></div>
                            <div class="text-danger text-center mt-2">
                                    <a class="btn btn-default btn-outline-danger btn-lg bg-light">VIEW</a>

                            </div>
                        </div>
                    </div>
                   
                    <div class="col-md-3">
                        <div class="card border-dark mx-sm-1 p-3">
                            <div class="card border-dark shadow text-danger p-3 my-card" > <i class="ti-home"></i></div>
                            <div class="text-danger text-center mt-3"><h4>DASHBOARD</h4></div>
                            <div class="text-danger text-center mt-2">
                                    <a class="btn btn-default btn-outline-danger btn-lg bg-light">VIEW</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card border-dark mx-sm-1 p-3">
                            <div class="card border-dark shadow text-danger p-3 my-card" ><span class="fa fa-users fa-lg" aria-hidden="true"></span></div>
                            <div class="text-danger text-center mt-3"><h4>USERS</h4></div>
                            <div class="text-danger text-center mt-2">
                                    <a class="btn btn-default btn-outline-danger btn-lg bg-light">VIEW</a>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>

            
</div>