<!-- Begin page -->
<div class="accountbg"></div>
<div class="wrapper-page">

  <div class="card">
    <div class="card-body">

      <h3 class="text-center mt-0 m-b-15">
        <a href="index.html" class="logo logo-admin"><img src="assets/images/téléchargement.png" height="150" alt="logo"></a>
      </h3>

      <h4 class="text-muted text-center font-18" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif" >
        <b>SIGN IN
      </b>
    </h4>
     

      <div class="p-3">
        <form class="form-horizontal m-t-20" action="http://themesdesign.in/upcube/layouts/vertical/index.html">

          <div class="form-group row">
            <div class="col-12">
              <input class="form-control" type="text" required="" placeholder="mail" name="mail" [(ngModel)]="mail">
            </div>
          </div>

          <div class="form-group row">
            <div class="col-12">
              <input class="form-control" type="password" required="" placeholder="password" name="password" [(ngModel)]="password">
            </div>
          </div>


          <div class="form-group text-center row m-t-20">
            <div class="col-12">
              <button class="btn-danger btn-info btn-block waves-effect waves-light" type="submit" (click)="login(mail,password)">Log In</button>
            </div>
          </div>

          <div class="form-group m-t-10 mb-0 row">
            
            <div class="col-sm-5 m-t-20">
              <a href="/register" class="text-muted"><i class="mdi mdi-account-circle"></i> Reset Password</a>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>






