  
  <div class="main-container">
      <div class="navbar breadcrumb-bar">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/home/open">Overview</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <a [routerLink]="['/home/configprojet']" routerLinkActive="router-link-active" >Projects</a> </li>
            <li class="breadcrumb-item active" aria-current="page">Sprints </li>
          </ol>
        </nav>
    
        <div class="dropdown">
          <button class="btn btn-round" role="button" data-toggle="dropdown" aria-expanded="false">
            <i class="material-icons">...</i>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item text-danger" routerLink="/home/details">More Details</a>
            <a class="dropdown-item text-danger" [routerLink]="['/home/meeting']" routerLinkActive="router-link-active" >Create Meeting</a>
            <a href="javascript:window.print()"class="dropdown-item text-danger">
                Print Current Page</a>          </div>
        </div>
      </div> 
      <br/>

  <div id="myModaladd" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title mt-0" id="myModalLabel">Sprint :</h5>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <div class="modal-body">

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Story  : </label>
            <div class="col-sm-10">
              <input class="form-control" type="text" name="nomlot" [(ngModel)]="lot.nomlot">
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Start Date: </label>
            <div class="col-sm-10">
              <input class="form-control" type="date" name="datedebut" [(ngModel)]="lot.datedebut">
            </div>
          </div>


          <div class="form-group row">
            <label class="col-sm-2 col-form-label">End Date  : </label>
            <div class="col-sm-10">
              <input class="form-control" type="date" name="datefin" [(ngModel)]="lot.datefin">
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Estimation : </label>
            <div class="col-sm-10">
              <input class="form-control" type="date" name="estimation" [(ngModel)]="lot.estimation">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Priority : </label>
            <div class="col-sm-10">
              <input class="form-control" type="text" name="priority" [(ngModel)]="lot.priority">
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Description : </label>
            <div class="col-sm-10">
              <input class="form-control" type="text" name="description" [(ngModel)]="lot.description">
            </div>
          </div>



        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger waves-effect waves-light" data-dismiss="modal"
                  (click)="addlot(this.id,lot)">Save
          </button>
        </div>
      </div>
    </div>
  </div>

  <div id="myModalupdate" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title mt-0" id="myModalLabel">Update Sprint</h5>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <div class="modal-body">

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Story : </label>
            <div class="col-sm-10">
              <input class="form-control" type="text" name="nomlot" [(ngModel)]="lot.nomlot">
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Start Date : </label>
            <div class="col-sm-10">
              <input class="form-control" type="date" name="datedebut" [(ngModel)]="lot.datedebut">
            </div>
          </div>


          <div class="form-group row">
            <label class="col-sm-2 col-form-label">End Date : </label>
            <div class="col-sm-10">
              <input class="form-control" type="date" name="datefin" [(ngModel)]="lot.datefin">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Estimation : </label>
            <div class="col-sm-10">
              <input class="form-control" type="date" name="estimation" [(ngModel)]="lot.estimation">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Priority : </label>
            <div class="col-sm-10">
              <input class="form-control" type="text" name="priority" [(ngModel)]="lot.priority">
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Description : </label>
            <div class="col-sm-10">
              <input class="form-control" type="text" name="description" [(ngModel)]="lot.description">
            </div>
          </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger waves-effect waves-light" data-dismiss="modal"
                  (click)="updatelot(this.id,lot)">Save
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-xl-20">
    <div class="card m-b-30">
        <div class="card-body">
            <h4>List Of Modules From Project  : {{this.nomprojet}}
              </h4>
              <br/>
<button type="button" class="btn btn-danger waves-effect waves-light" data-toggle="modal" data-target="#myModaladd">
    Add Sprint
  </button>
<br/>
<br/>
<div class="table-responsive">
    
  <table class="table table-hover mb-5">
    <thead>
    <tr>
      <th>Story </th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Estimation </th>
      <th>Priority</th>
      <th>Description </th>
      <th>Delete Sprint </th>
      <th>Update Sprint </th>
      <th>View Tasks </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let a of lots">
      <td >{{a.nomlot}}</td>
      <td >{{a.datedebut | date }}  </td>
      <td >{{a.datefin | date }}</td>
      
      <td> {{findbydate(a.datedebut| date :'dd'  ,  a.datefin | date : 'dd')}} Days</td> 
      <td >{{a.priority}}</td>
      <td >{{a.description}}</td>
      <td >
        <button type="button" (click)="remove(this.id,a._id)"><i class="fas fa-trash-alt"></i></button>
      </td>
      <td >
        <button type="button" (click)="edit(a)" data-toggle="modal" data-target="#myModalupdate"><i
          class="fas fa-user-edit"></i></button>
      </td>
      <td >
        <button type="button"(click)="find(this.id,a)"><i class="far fa-plus-circle"></i>
        </button>
      </td>

    </tr>

    </tbody>
    <br/>
    <br/>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" routerlink="/home/configlot">Previous</a></li>
            <li class="page-item"><a class="page-link" routerlink="/home/configlot">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
  </table>
</div>
</div>
</div>
</div>