<div class="main-container">
    <div class="navbar breadcrumb-bar">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"><a href="/home/open">Overview</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page"style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Projects </li>
        </ol>
      </nav>
  
      <div class="dropdown">
        <button class="btn btn-round" role="button" data-toggle="dropdown" aria-expanded="false">
          <i class="material-icons">...</i>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item text-danger" routerLink="/home/details">More Details</a>
            <a class="dropdown-item text-danger" routerLink="/home/meeting">Create Meeting</a>
            <a href="javascript:window.print()"class="dropdown-item text-danger">
                Print Current Page</a>
            </div>
        </div>
      </div>
    </div>
    <br/>
  
  
    <div id="myModaladd" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title mt-0" id="myModalLabel">New Project :</h5>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          </div>
          <div class="modal-body">
  
            <!-- <div class="form-group row">
              <label class="col-sm-2 col-form-label">nomprojet : </label>
              <div class="col-sm-10">
                <input class="form-control" type="text" name="nomprojet" [(ngModel)]="projet.nomprojet">
              </div>
            </div>
  
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">datedebut : </label>
              <div class="col-sm-10">
                <input class="form-control" type="date" name="datedebut" [(ngModel)]="projet.datedebut">
              </div>
            </div>
  
  
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">datefin : </label>
              <div class="col-sm-10">
                <input class="form-control" type="date" name="datefin" [(ngModel)]="projet.datefin">
              </div>
            </div>
  
  
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">nomclient : </label>
              <div class="col-sm-10">
                <input class="form-control" type="text" name="nomclient" [(ngModel)]="projet.nomclient">
              </div>
            </div>
  
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">nomequipe : </label>
              <div class="col-sm-10">
                <input class="form-control" type="text" name="nomequipe" [(ngModel)]="projet.nomequipe">
              </div>
            </div>
  
   -->
   <form [formGroup]="form" class="normal-form" (submit)="onSubmit()">
      <mat-grid-list cols="2" rowHeight="350px">
        <mat-grid-tile>
          <div class="controles-container">
            <input type="hidden" formControlName="id">
            <mat-form-field>
              <input formControlName="nomprojet" matInput placeholder="Name *" [(ngModel)]="projet.nomprojet">
              <mat-error>This field is mandatory.</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input formControlName="nomclient" matInput placeholder="Client *" [(ngModel)]="projet.nomclient">
              <mat-error>This field is mandatory.</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input formControlName="nomequipe" matInput placeholder="Team *"[(ngModel)]="projet.nomequipe">
              <mat-error>This field is mandatory.</mat-error>
            </mat-form-field>
            <div>
                <mat-form-field>
                    <input formControlName="datedebut" matInput [matDatepicker]="picker" placeholder="Start Date" [(ngModel)]="projet.datedebut">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                  <mat-form-field>
                      <input formControlName="datefin" matInput [matDatepicker]="picker3" placeholder="End Date" [(ngModel)]="projet.datefin">
                      <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                      <mat-datepicker #picker3></mat-datepicker>
                    </mat-form-field>
                  </div>
                  
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="controles-container">
              <mat-form-field>
                  <mat-select formControlName="priority" placeholder="Priority " [(ngModel)]="projet.priority">
                    <mat-option>None</mat-option>
                    <ng-container *ngFor="let priority of priorities">
                      <mat-option value="{{priority.id}}">{{priority.value}}</mat-option>
                    </ng-container>
                  </mat-select>
                </mat-form-field>
                <div>
                        <mat-form-field class="example-full-width">
                            <input formControlName="author" matInput placeholder="Author *" [(ngModel)]="projet.author">
                            <mat-error>This field is mandatory.</mat-error>
                          </mat-form-field>
                        </div>
                          <div>
                              
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-danger waves-effect waves-light" data-dismiss="modal"
                              (click)="addprojet(projet)">Save
                      </button>
                    </div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
          </div>
          
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  
  
    <div id="myModalupdate" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title mt-0" id="myModalLabel">Update Project :</h5>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          </div>
          <div class="modal-body">
  
          <!--   <div class="form-group row">
              <label class="col-sm-2 col-form-label">nomprojet : </label>
              <div class="col-sm-10">
                <input class="form-control" type="text" name="nomprojet" [(ngModel)]="projet.nomprojet">
              </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">nomclient : </label>
                <div class="col-sm-10">
                  <input class="form-control" type="text" name="nomclient" [(ngModel)]="projet.nomclient">
                </div>
              </div>
    
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">nomequipe : </label>
                <div class="col-sm-10">
                  <input class="form-control" type="text" name="nomequipe" [(ngModel)]="projet.nomequipe">
                </div>
              </div>
    
  
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">datedebut : </label>
              <div class="col-sm-10">
                <input class="form-control" type="date" name="datedebut" [(ngModel)]="projet.datedebut">
              </div>
            </div>
  
  
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">datefin : </label>
              <div class="col-sm-10">
                <input class="form-control" type="date" name="datefin" [(ngModel)]="projet.datefin">
              </div>
            </div>
            
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">datefin : </label>
                <div class="col-sm-10">
                  <input class="form-control" type="date" name="datefin" [(ngModel)]="projet.datefin">
                </div>
              </div>
              
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">datefin : </label>
                <div class="col-sm-10">
                  <input class="form-control" type="date" name="datefin" [(ngModel)]="projet.datefin">
                </div>
              </div>

  
   -->
   <form [formGroup]="form" class="normal-form" (submit)="onSubmit()">
      <mat-grid-list cols="2" rowHeight="350px">
        <mat-grid-tile>
          <div class="controles-container">
            <input type="hidden" formControlName="id">
            <mat-form-field>
              <input formControlName="nomprojet" matInput placeholder="Name *" [(ngModel)]="projet.nomprojet">
              <mat-error>This field is mandatory.</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input formControlName="nomclient" matInput placeholder="Client *" [(ngModel)]="projet.nomclient">
              <mat-error>This field is mandatory.</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input formControlName="nomequipe" matInput placeholder="Team *" [(ngModel)]="projet.nomequipe">
              <mat-error>This field is mandatory.</mat-error>
            </mat-form-field>
            <div>
                <mat-form-field>
                    <input formControlName="datedebut" matInput [matDatepicker]="picker2" placeholder="Start Date" [(ngModel)]="projet.datedebut" >
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
                  <mat-form-field>
                      <input formControlName="datefin" matInput [matDatepicker]="picker4" placeholder="End Date" [(ngModel)]="projet.datefin">
                      <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                      <mat-datepicker #picker4></mat-datepicker>
                    </mat-form-field>
                  </div>
                 
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="controles-container">
              <!-- <mat-accordion>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        SCRUM ITEMS :
                      </mat-panel-title>
                      <mat-panel-description>
                        Choose Modules and Tasks :
                      </mat-panel-description>
                    </mat-expansion-panel-header>    
                      <mat-form-field class="example-full-width">
                          <mat-select formControlName="task" placeholder="Task " [(ngModel)]="projet.task">
                            <mat-option>None</mat-option>
                            <ng-container *ngFor="let task of tasks">
                              <mat-option value="{{task.value}}">{{task.value}}</mat-option>
                            </ng-container>
                          </mat-select>
                        </mat-form-field>
                  </mat-expansion-panel>
                  </mat-accordion> -->
                  <mat-form-field>
                      <mat-select formControlName="priority" placeholder="Priority " [(ngModel)]="projet.priority">
                        <mat-option>None</mat-option>
                        <ng-container *ngFor="let priority of priorities">
                          <mat-option value="{{priority.value}}">{{priority.value}}</mat-option>
                        </ng-container>
                      </mat-select>
                    </mat-form-field>
                  <div>
                        <mat-form-field class="example-full-width">
                            <input formControlName="author" matInput placeholder="Author *" [(ngModel)]="projet.author">
                            <mat-error>This field is mandatory.</mat-error>
                          </mat-form-field>
                        </div>
                        
                  <div class="modal-footer">
                      <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-danger waves-effect waves-light" data-dismiss="modal"
                              (click)="updateprojet(projet)">Save
                      </button>
                    </div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
          </div>
         
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  
  
  <!--  <div class="col-xl-20">
        <div class="card m-b-30">
            <div class="card-body">
    <div class="search-div">
    <button mat-raised-button color="warn" data-toggle="modal" data-target="#myModaladd">
        <mat-icon>add</mat-icon>
        Add Project
          </button>
        <mat-form-field class="search-form-field" floatLabel="never">
          <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
          <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey"  (click)="onSearchClear()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
       
      </div>
      <div class="mat-elevation-z8">
        <mat-table #table [dataSource]="projets"  matSort>
          <ng-container matColumnDef="nomprojet">
            <mat-header-cell *matHeaderCellDef  mat-sort-header> Name</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.nomprojet}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="datedebut">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</mat-header-cell>
              <mat-cell *matCellDef="let element">{{element.datedebut | date}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="datefin">
              <mat-header-cell *matHeaderCellDef mat-sort-header>End Date</mat-header-cell>
              <mat-cell *matCellDef="let element">{{element.datefin | date}}</mat-cell>
            </ng-container>
          <ng-container matColumnDef="nomclient">
            <mat-header-cell *matHeaderCellDef  mat-sort-header>Client</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.nomclient}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="nomequipe">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Team</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.nomequipe}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="author">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Author</mat-header-cell>
              <mat-cell *matCellDef="let element">{{element.author}}</mat-cell>
            </ng-container>
              <ng-container matColumnDef="task">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Task</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{element.task}}</mat-cell>
                </ng-container>
          <ng-container matColumnDef="priority">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Priority</mat-header-cell>
              <mat-cell *matCellDef="let element">{{element.priority}}</mat-cell>
            </ng-container>
                  <ng-container matColumnDef="modules">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> View Modules</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <button mat-icon-button color="warn"  (click)="find(element)">
                            <i class="fas fa-spinner fa-pulse"></i>

                        </button>
                    </mat-cell>
                  </ng-container>
          <ng-container matColumnDef="actions1">
            <mat-header-cell *matHeaderCellDef>Update</mat-header-cell>
            <mat-cell *matCellDef="let row">
                
              <button mat-icon-button color="warn" (click)="edit(row)" data-toggle="modal" data-target="#myModalupdate">
                  <i
                  class="fas fa-user-edit"></i></button>
              
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="actions2">
              <mat-header-cell *matHeaderCellDef>Delete</mat-header-cell>
              <mat-cell *matCellDef="let row">
                  
                <button mat-icon-button color="warn" (click)="remove(row._id)"><i class="fas fa-trash-alt"></i></button>
              </mat-cell>
            </ng-container>
          <ng-container matColumnDef="loading">
            <mat-footer-cell *matFooterCellDef colspan="6">
              Loading data...
            </mat-footer-cell>
          </ng-container>
          <ng-container matColumnDef="noData">
            <mat-footer-cell *matFooterCellDef colspan="6">
              No data.
            </mat-footer-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
          <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
      </div>
  </div>
  </div>
  </div>  -->
   <!--  <table id="mainTable" class="table table-striped m-b-0">
      <thead>
      <tr>
        <th>nomprojet</th>
        <th>datedebut</th>
        <th>datefin</th>
        <th>nomclient</th>
        <th>nomequipe</th>
  
        <th>supprimer</th>
        <th>modifier</th>
        <th>Sprint</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let a of projets">
        <td >{{a.nomprojet}}</td>
        <td >{{a.datedebut}}</td>
        <td >{{a.datefin}}</td>
        <td >{{a.nomclient}}</td>
        <td >{{a.nomequipe}}</td>
  
        <td >
          <button type="button" (click)="remove(a._id)"><i class="fas fa-trash-alt"></i></button>
        </td>
        <td >
          <button type="button" (click)="edit(a)" data-toggle="modal" data-target="#myModalupdate">
            <i
            class="fas fa-user-edit"></i></button>
        </td>
        <td >
          <button type="button" (click)="find(a._id)" ><i class="far fa-plus-circle"></i>
          </button>
        </td>
  
      </tr>
  
      </tbody>
  
    </table>  -->
    <div class="col-xl-20">
        <div class="card m-b-30">
            <div class="card-body">
    <p-table #dt [value]="projets">
        <ng-template pTemplate="caption">
            <div style="text-align: right">   
                <button mat-raised-button color="warn" data-toggle="modal" data-target="#myModaladd" style="float: left;">
                    Add Project
                </button>     
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                
                <input type="text" class="search-form-field" floatLabel="never" pInputText size="50" placeholder="Global Filter" [(ngModel)]="term" style="width:auto">
            </div>
    
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Client
                </th>
                <th>
                    Team
                </th>
                <th>
                    Start Date
               </th>
               <th>
                  End Date
             </th>
                <th>
                     Author
                </th>
             <th>
                Priority
            </th>
            <th>
            Add Modules
            </th>
            <th>Update</th>
            <th>
            Delete
            </th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body">
            <tr *ngFor="let proj of projets | filter:term">
                <td>
                  {{proj.nomprojet}}
                </td>
                <td>
                    {{proj.nomclient}}
                  </td>
                  <td>
                      {{proj.nomequipe}}
                    </td>
                    <td>
                        {{proj.datedebut | date }}
                      </td>
                      <td>
                          {{proj.datefin  | date}}
                        </td>
                        <td>
                            {{proj.author}}
                          </td>
                          <td>
                              {{proj.priority}}
                            </td>
                            <td>
                                <button mat-icon-button color="warn"  (click)="find(proj)">
                                    <i class="fas fa-spinner fa-pulse"></i>

                                </button>                              
                              </td>
                              <td>                                          
                                        <button mat-icon-button color="warn" (click)="edit(proj)" data-toggle="modal" data-target="#myModalupdate">
                                            <i
                                            class="fas fa-user-edit"></i>
                                          </button>
                                                                
                                          </td>
                             <td>
                                      <button mat-icon-button color="warn" (click)="remove(proj._id)"><i class="fas fa-trash-alt"></i></button>
                                     </td>
            </tr>
        </ng-template>
    </p-table>
</div>
</div>
</div>
  
  
  
  
  