@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.navbar{
  background-color: white;
  height: 80px;

}
.navbar .breadcrumb-item{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 25px;
}
.table {
  width: 100%;
}
.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.example-full-width {
  width: 100%;
}
.mat-dialog-container{
  z-index: 1000;
}
::ng-deep { .cdk-global-overlay-wrapper, .cdk-overlay-container { z-index: 9999!important; } }
.mat-select-menu-container {z-index: 9999!important; }
