
<!-- ========== Left Sidebar Start ========== -->
<div class="left side-menu">
    <button type="button" class="button-menu-mobile button-menu-mobile-topbar open-left waves-effect">
      <i class="ion-close"></i>
    </button>
  
    <!-- LOGO -->
    <div class="topbar-left">
      <div class="text-center">
        <!--<a href="index.html" class="logo">Admiry</a>-->
        <a href="index.html" class="logo"><img src="assets/images/vermeg-lgo.png" height="100" alt="logo"></a>
      </div>
    </div>
<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 566px;"><div class="sidebar-inner slimscrollleft" style="overflow: hidden; width: auto; height: 566px;">

    <div class="user-details">
        <div class="text-center">
            <img src="assets/images/users/avatar-6.jpg" alt="" class="rounded-circle">
        </div>
        <div class="user-info">
            <h5 class="font-30"> {{this.firstname}} {{this.lastname}} : {{this.role}} </h5>
            <span class="text-muted user-status"><i class="fa fa-dot-circle-o text-success"></i> Online</span>

        </div>
    </div>

    <div id="sidebar-menu">
        <ul>
          <li>
            <a [routerLink]="['/home/open']" routerLinkActive="router-link-active"  class="waves-effect">
              <i class="ti-home"></i>
                  <button mat-button [matMenuTriggerFor]="home" color="warn">
                      <span> Home </span>
                       <span class="pull-right">
                      </span>
                      <!-- <span class="badge badge-danger pull-right">3</span> -->
                </button>
            </a>
          </li>
          <ul>
              <mat-menu #home="matMenu">
                  

                </mat-menu>
  </ul>
          
          <li *ngIf="this.role== 'admin'  " class="has_sub nav-active" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
              <a class="waves-effect">
                  <i class="fa fa-users fa-lg">
                    </i>
              <button mat-button [matMenuTriggerFor]="users" color="warn">
                      <span> Users Overview</span>
                       <span class="pull-right">
                      </span>
                </button>
              </a>
            </li>
                <ul>
              <mat-menu #users="matMenu">
                  <button mat-menu-item color="warn">
                      <a routerLink="/home/gestionchefdeprojet" class="waves-effect"  style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
                                                           
                        <span> Project Managers </span></a>
                  </button>
                  <button mat-menu-item color="warn">
                      <a routerLink="/home/gestionmanager" class="waves-effect"  style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
                                                             
                        <span> Managers </span></a>
                  </button>
                </mat-menu>
  </ul>
          
  
          <li *ngIf="this.role== 'admin'  || this.role=='chefdeprojet'">
            <a class="waves-effect" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
              <i class="ti-files"></i>
              <button mat-button [matMenuTriggerFor]="planning" color="warn">
                  <span> Planning </span>
                   <span class="pull-right">
                  </span>
            </button>
                      </a>
          </li>
          <ul>
              <mat-menu #planning="matMenu">
                  <button mat-menu-item color="warn">
                      <a routerLink="/home/configprojet" class="waves-effect"  style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
                                                           
                        <span> Projects </span></a>
                  </button>
                 <!--  <button mat-menu-item color="warn">
                      <a routerLink="/home/configlot/:id" class="waves-effect"  style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
                                                             
                        <span> Sprints </span></a>
                  </button>
                  <button mat-menu-item color="warn">
                      <a routerLink="/home/configtache/:idP/:idL" class="waves-effect"  style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
                                                             
                        <span> Tasks </span></a>
                  </button> -->
                  <button mat-menu-item color="warn">
                      <a routerLink="/home/meeting" class="waves-effect"  style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
                                                             
                        <span> Meetings </span></a>
                  </button>
                </mat-menu>
  </ul>
  
  <li *ngIf="this.role== 'admin'  || this.role=='chefdeprojet' " class="has_sub nav-active" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
              <a class="waves-effect">
                  <i class="ti-calendar">
                    </i>
                    
              <button mat-button [matMenuTriggerFor]="monitoring" color="warn">
                  <span> Monitoring </span>

                  <span class="pull-right">
                      </span>
                </button>
              </a>
                <ul>
              <mat-menu #monitoring="matMenu">
                  <button mat-menu-item color="warn">
                      <a routerLink="/home/pbs" class="waves-effect"  style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
                                                           
                        <span> Prodcut Backlog Monitoring </span></a>
                  </button>
                  <button mat-menu-item color="warn">
                      <a routerLink="/home/sbs" class="waves-effect"  style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
                                               
                        <span> Sprint Backlog Monitoring </span></a>
                  </button>
                </mat-menu>
  </ul>
          </li>
          <li *ngIf="this.role== 'admin' || this.role=='chefdeprojet'  || this.role=='manager'  ">
              <a [routerLink]="['/home/monitoring']" routerLinkActive="router-link-active"  class="waves-effect">
                <i class="ti-pie-chart"></i>
                    <button mat-button color="warn">
                        <span> Charts </span>
                         <span class="pull-right">
                        </span>
                        <!-- <span class="badge badge-danger pull-right">3</span> -->
                  </button>
              </a>
          </li>
              <li *ngIf="this.role=='chefdeprojet'  || this.role=='manager'  ">

              <a [routerLink]="['/home/users']" routerLinkActive="router-link-active"  class="waves-effect">
                <i  class="fa fa-users fa-lg">
                    </i>
              <button mat-button color="warn">
                      <span> Users Overview</span>
                       <span class="pull-right">
                      </span>
                </button>
              </a>

            </li>
           <!--  <ul>
                <mat-menu #charts="matMenu">
                  </mat-menu>
    </ul> -->
  
       <!--    <li *ngIf="this.role=='admin' || this.role=='chefdeprojet'">
            <a routerLink="/home/configprojet" class="waves-effect"><i class="ti-calendar"></i><span> Liste des Projets </span></a>
          </li>
          <li *ngIf="this.role=='chefdeprojet'">
            <a routerLink="/home/configprojet" class="waves-effect"><i class="ti-calendar"></i><span> Liste des Projets </span></a>
          </li> -->
  
        </ul>
      </div>
      <div class="clearfix"></div>
    </div> <!-- end sidebarinner -->
  </div>
    <div class="clearfix"></div>
</div><div class="slimScrollBar" style="background: rgb(158, 165, 171); width: 10px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 407.06px;"></div><div class="slimScrollRail" style="width: 10px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>