<div class="main-container">
        <div class="navbar breadcrumb-bar">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"><a href="/home/open">Overview</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page"style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Sprint Backlog Monitoring </li>
            </ol>
          </nav>
      
          <div class="dropdown">
            <button class="btn btn-round" role="button" data-toggle="dropdown" aria-expanded="false">
              <i class="material-icons">...</i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item text-danger" routerLink="/home/details">More Details</a>
                <a class="dropdown-item text-danger" routerLink="/home/meeting">Create Meeting</a>
                <a href="javascript:window.print()"class="dropdown-item text-danger">
                    Print Current Page</a>
            </div>
          </div>
        </div>
        <br/>
        <div class="col-xl-20">
                <div class="card m-b-30" >
                 <div class="card-body">

<div cdkDropListGroup>
  <div class="example-container">
    <h2>Opened Projects</h2>

    <div
      cdkDropList
      [cdkDropListData]="todo"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
    </div>
  </div>

  <div class="example-container">
    <h2>Done</h2>

    <div
      cdkDropList
      [cdkDropListData]="done"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
 