.navbar{
    background-color: white;
    height: 80px;
  
  }
  .navbar .breadcrumb-item{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
  }