



<!-- Begin page -->

    <div style="width: 20%; float:left; height: 100vh; overflow: hidden; position: fixed;"
     *ngIf="!navService.hideSideBar">
     
  <app-sidemenu></app-sidemenu>
  <!-- Start right Content here -->
    </div>
  
        <div style="float:right;" [style.width]="navService.hideSideBar? '100%': '80%'">
            
      <app-header></app-header>
     
      <router-outlet>
        
      </router-outlet>
  <!-- content -->
  
    <app-footer></app-footer>
  
  <!-- End Right content here -->
</div>
<!-- END wrapper -->












