<div class="example-container">
    <div class="card m-b-30">
        <div class="card-body">
            <h4 class="mt-0 m-b-15 header-title" style="font-family: Georgia, 'Times New Roman', Times, serif ; font-size: 30px ; color : #d83431">Projects Priorities :</h4>
    <mat-list>
        <mat-list-item style="font-family: Georgia, 'Times New Roman', Times, serif"> 1 : High </mat-list-item>
        <mat-list-item style="font-family: Georgia, 'Times New Roman', Times, serif"> 2 : Normal </mat-list-item>
        <mat-list-item style="font-family: Georgia, 'Times New Roman', Times, serif"> 3 : Strategic </mat-list-item>
       </mat-list>
       </div>
       </div>
       </div>
       <div class="example-container">
          <div class="card m-b-30">
              <div class="card-body">
                  <h4 class="mt-0 m-b-15 header-title" style="font-family: Georgia, 'Times New Roman', Times, serif ; font-size: 30px ; color : #d83431">Modules / Tasks Priorities :</h4>

       <mat-list>
           <mat-list-item style="font-family: Georgia, 'Times New Roman', Times, serif"> 1 : Very High </mat-list-item>
           <mat-list-item style="font-family: Georgia, 'Times New Roman', Times, serif"> 2 : High </mat-list-item>
           <mat-list-item style="font-family: Georgia, 'Times New Roman', Times, serif"> 3 : Normal </mat-list-item>
           <mat-list-item style="font-family: Georgia, 'Times New Roman', Times, serif"> 4 : Low </mat-list-item>
           <mat-list-item style="font-family: Georgia, 'Times New Roman', Times, serif"> 5 : Very Low </mat-list-item>          
          </mat-list>
        </div>
      </div>
      </div>