<div class="accountbg"></div>
<div class="wrapper-page">

    <div class="card">
        <div class="card-body">

            <h3 class="text-center mt-0 m-b-15">
                <a href="index.html" class="logo logo-admin"><img src="assets/images/téléchargement.png" height="100" alt="logo"></a>
            </h3>

            <h4 class="text-muted text-center font-18"><b>Register</b></h4>

            <div class="p-3">
                <form class="form-horizontal m-t-20" action="index.html">

                   <!--  <div class="form-group row">
                        <div class="col-12">
                            <input class="form-control" type="email" required="" placeholder="Email" name="mail" [(ngModel)]="mail">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-12">
                            <input class="form-control" type="text" required="" placeholder="Username" name="username" [(ngModel)]="username">
                        </div>
                    </div> -->
                    <div class="form-group row">
                            <div class="col-12">
                                <input class="form-control" type="password" required="" placeholder="Old Password" name="password" [(ngModel)]="password">
                            </div>
                        </div>
                    <div class="form-group row">
                        <div class="col-12">
                            <input class="form-control" type="password" required="" placeholder="Password" name="password" [(ngModel)]="password">
                        </div>
                    </div>
                   <!--  <div class="form-group row">
                            <div class="col-12">
                                <input class="form-control" type="text" required="" placeholder="Role" name="role" [(ngModel)]="role">
                            </div>
                        </div> -->

                    <div class="form-group text-center row m-t-20">
                        <div class="col-12">
                            <button class="btn btn-danger btn-block waves-effect waves-light" type="submit" (click)="reset(old, neww)">Register</button>
                        </div>
                    </div>

                    <div class="form-group m-t-10 mb-0 row">
                        <div class="col-12 m-t-20 text-center">
                            <a href="" class="text-muted">Already have account?</a>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
